<!DOCTYPE html>
<html lang="en">
<head>
    <title>BDres Portfolio</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Bob's Portfolio</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item"></li>
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Main Content -->
    <div class="container mt-5">
        <h1 class="text-center mb-4">Welcome to My Portfolio</h1>
        <div class="row justify-content-center">
            <div class="col-md-18">
                <h2>Movies</h2>
                <ul class="list-group">
                    {{ range .Movies }}
                    <li class="list-group-item">{{ .Title }} - Directed by {{ .Director }}</li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>


    <!-- Adding new Movies form-->
    <div class="container mt-5 justify-content-center align-items-center">
        <div class="row justify-content-center">
            <h3>Add Movies</h3>
            <form hx-post="/add-post" class="text-center">
                <div class="mb-2">
                    <label for="title">Movie Title:</label><br>
                    <input type="text" id="title" name="title"><br>
                </div>
                <div class="mb-3">
                    <label for="director">Director:</label><br>
                    <input type="text" id="director" name="director">
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>


    <!-- Footer -->
    <footer class="bg-dark text-white text-center py-3 mt-5">
        &copy; 2025 BDres Portfolio. All rights reserved.
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
